<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

</head>
<body>
<h1>Users</h1>
<div>
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>e-Mail</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td><a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
            <td><form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form></td>
        </tr>
    </table>
    <br/>
    <a href="/users/new">Create new user</a>
</div>
</body>
</html>